<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">


    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>controller.ApplicationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/application</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

</web-app>